$default-font: "Raleway", sans-serif
$text: #201f1f

$RobotoSlab: "RobotoSlab"
$Raleway: "Raleway"
$Raleway-Medium: "Raleway-Medium"
$Raleway-SemiBold: "Raleway-SemiBold"


$black: #010101
$white: #fff

$blue: #313970
$blue2: #424764
$blue3: #414982
$blue4: #202542
$blue-btn: #252c5b



$red: #d31338

$gray1: #cdcfde
$gray2: #8c8e99


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
