/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-black {
  background-image: url(sprite.png);
  background-position: -118px -25px;
  width: 6px;
  height: 9px;
}
.icon-arrow-red {
  background-image: url(sprite.png);
  background-position: -118px -16px;
  width: 6px;
  height: 9px;
}
.icon-arrow-white {
  background-image: url(sprite.png);
  background-position: -112px -42px;
  width: 9px;
  height: 6px;
}
.icon-catalog--grid {
  background-image: url(sprite.png);
  background-position: -99px -16px;
  width: 19px;
  height: 19px;
}
.icon-catalog--line {
  background-image: url(sprite.png);
  background-position: -72px -27px;
  width: 27px;
  height: 19px;
}
.icon-checked--red {
  background-image: url(sprite.png);
  background-position: -112px -35px;
  width: 9px;
  height: 7px;
}
.icon-doc {
  background-image: url(sprite.png);
  background-position: -99px -35px;
  width: 13px;
  height: 16px;
}
.icon-filter-white {
  background-image: url(sprite.png);
  background-position: -99px 0px;
  width: 26px;
  height: 16px;
}
.icon-location {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 72px;
  height: 89px;
}
.icon-loupe-blue--bg {
  background-image: url(sprite.png);
  background-position: -72px 0px;
  width: 27px;
  height: 27px;
}
.icon-loupe-blue {
  background-image: url(sprite.png);
  background-position: -72px -67px;
  width: 21px;
  height: 21px;
}
.icon-loupe-red {
  background-image: url(sprite.png);
  background-position: -72px -46px;
  width: 21px;
  height: 21px;
}
